* {
    outline: 0
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    color: rgb(0, 0, 0);
    font-family: "Poppins", 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    background: rgb(250, 251, 255);
}

.sidebar {
    position: absolute;
    width: 306px;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    background: rgb(255, 255, 255);
    padding: 36px 28px 76px;
}

.sidebar .top .TOP {
    position: relative;
    width: 37px;
    height: 37px;
}

.sidebar .top .title {
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 600;
    line-height: 37px;
    margin: 0 4px 0 8px;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
}

.sidebar .top .version {
    color: rgb(131, 131, 131);
    font-family: "Poppins", 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
}